
  .about {
    justify-content: space-between;
    width: 100%;
    padding: 1pc 3.5pc;
    align-items: center;
    margin-top: 100px;
  }

  .heading{
    display: flex;
    justify-content: center;

}
  
  .aboutImage{
    border-radius: 30%;
    width: 50%;
    height: 50%;
  }

  

  