.about {
  justify-content: space-between;
  width: 100%;
  padding: 1pc 3.5pc;
  align-items: center;
  margin-top: 100px;
}

.heading {
  display: flex;
  justify-content: center;
}

.heading h1 {
  font-size: 60px;
  font-weight: 900;
}

.aboutMeLetter {
  color: #088cff;
}

.lightMode .aboutMeLetter {
  color: #088cff !important;
}

.aboutImage {
  margin-top: 30px;
}

.aboutText {
  padding: 0px 2pc;
  margin-top: 30px;
}

.aboutText p {
  text-align: justify;
}

.aboutSocialIcons {
  margin-top: 30px;
  padding: 1pc 3.5pc;
  display: block;
  width: 30%;
}

.aboutLink {
  display: flex;
  margin-top: 20px;
  padding: 1pc 2.5pc;
  align-items: center;
  background-color: #088cff;
  border-radius: 10px;
}

.aboutLink span,
.aboutLink a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.lightMode .aboutLinkIcons,
.aboutLink span,
.aboutLink a {
  color: white !important;
}

.aboutLinkIcons {
  margin-right: 10px;
  font-size: 40px;
}

@media screen and (max-width: 1050px) {
  .aboutSocialIcons {
    width: 40%;
  }

  .aboutLink {
    display: flex;
    margin-top: 20px;
    padding: 1pc 25px;
    align-items: center;
    background-color: #088cff;
    border-radius: 10px;
  }
}

@media screen and (max-width: 950px) {
 
}


@media screen and (max-width: 768px){
  .about {
    margin-top: 50px;
  }
 .aboutText p{
  line-height: 25px !important;
 } 
 .aboutSocialIcons {
  width: 50%;
  margin-top: 20px;
 }
 }

 @media screen and (max-width: 602px) {
  .aboutText p{
    line-height: 27px !important;
   } 
   .aboutSocialIcons {
    width: 60%;
}
.aboutText p{
  font-size: 16px !important;
  line-height: 30px !important;
 } 
    
 }

 @media screen and (max-width: 540px) {
  .about {
    margin-top: 40px;
  }
  .aboutText p{
    line-height: 25px !important;
    font-size: 14px !important;
  }
  .aboutSocialIcons {
    width: 70%;
}
  
 }

 @media screen and (max-width: 425px){
  .aboutText {
    padding: 0px;
}
.aboutText p {
  line-height: 21px !important;
}
.aboutSocialIcons {
  width: 90%;
  margin-top: 0px;
}
}

@media screen and (max-width: 414px) {
  .aboutText p {
    line-height: 18px !important;
  }
}



 @media screen and (max-width: 393px){
  .aboutText p {
    line-height: 15px !important;
  }
  .aboutSocialIcons {
    width: 95%;
  }

 }
 
 @media screen and (max-width: 375px) {
   
 }
 
 @media screen and (max-width: 360px) {
  
 }