.contact{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1pc 3.5pc;
    margin-top: 100px;
}

.contactPage{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

