.footer{
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
    
}

.footerICons{
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
}
.footerText{
    margin-top: 30px;

}
.footerImg {
    justify-content: space-between;
    display: flex;
    align-items: center;
   
}

.footerImg span{
    width:45%;
    height:2px;
    background-color: #088cff;
    position: absolute;

}

.line1{
    left:0;
}

.line2{
    right:0;
}

@media screen and (max-width: 768px) {
    .footerImg span {
        width: 44%;
    } 
}
@media screen and (max-width: 600px){
    .footerImg span {
        width: 42%;
    }
}

@media screen and (max-width: 425px){
    .footerImg span {
        width: 39%;
    }

}

@media screen and (max-width: 393px){

    .footerImg span {
        width: 39%;
    }

}

@media screen and (max-width: 375px) {
    .footerImg span {
        width: 38%;
    }
}

@media screen and (max-width: 360px) {
   
}