.footer{
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
.footerImg{
    background-color: #088cff; 
  height: 2px; 
  width: 100%
}
.footerICons{
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
}
.footerText{
    margin-top: 30px;

}