.themeColor.light {
    width: 100%;
    background-color: #f1f1f1;
    transition: 0.5s;
}

.themeColor.dark{
    width: 100%;
    color: #f1f1f1;
    background-color: #080C0F;
    transition: 0.5s;
}
body {
    font-family: 'Inter', sans-serif !important;
}

.lightMode h1,.lightMode h2,.lightMode p,.lightMode span,.lightMode h3,.lightMode h4 ,.lightMode a {
   color: #080C0F  !important;
}


