.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1pc 3.5pc;
    margin-top: 12pc;
}

  
  .profileIcon {
    max-width: 100%;
    border-radius: 50%;
  }

  .social ul{
    width: 100%;
    background-color: #636465;
    display: flex;
    list-style: none;
  }

  .contentImage{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 11pc;
  }

  .bannerleft h4 {
    letter-spacing: 1px;
    font-weight: 400; 
  }

.bannerleft h1{
  font-size: 64px;
  color: #088cff;
  font-weight:700;
}
.bannerleft p{
  padding-right: 25px;
  margin-top: 30px;
  font-weight: 400;
}

.bannerButton{
  display: flex;
}
.bannerButton button:nth-child(2) {
  margin-left: 10%;
}

.bannerleft button {
  margin-top: 30px;
  padding: 1.5pc 4pc;
  border: 1px solid #088cff;
  background-color: #080c0f;
  border-radius: 10px;
  color:#088cff;
  transition: all ease color 0.5s;
  font-weight: 500;
}

.bannerleft button:hover{
  transform: translate(5px);
  border: 2px solid var(--main-color);
  background-color: #088cff ;
  color: #f1f1f1;
 }

.lightMode .bannerleft h1{
  color: #088cff !important;
}

.lightMode .bannerleft button{
  background-color: #f1f1f1 !important;

}

.lightMode .bannerleft button:hover{
  background-color: #088cff !important;

}

.bannerFooter {
  margin-top: 50px;
  background-color: #636465;
  font-weight: 500;
  padding: 0.5pc 3.5pc;
}

.bannerFooter .bannerIcons{
  font-size: 40px;
  margin-right: 20px;
}

.lightMode .bannerFooter{
  background-color:white !important;

}
.bannerleft .banner-heading {
  position: relative;
  animation: move-text 0.75s forwards;
  opacity: 0;
}

@keyframes move-text {
  0% {
      bottom: -0.2em;
      opacity: 1;
      color: #088cff;
  }
  
  50% {
      bottom: 0.2em;
      color: #088cff;
  }

  100% {
      bottom: 0;
      opacity: 1;
      color: #088cff;
  }
}

.mobileBanner {
  display: none;
}

@keyframes imgg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-22px);
  }
  100% {
    transform: translateY(0);
  }
}

.contentImage .profileIcon {
  animation: imgg 2s ease-in-out infinite;
  animation-delay: 2s;
}






@media screen and (max-width: 1050px) {

 .bannerleft h1{
  font-size: 50px;
 }
 .contentImage{
  margin-bottom: 180px;
 }
 .mobileBanner {
  display: none;
}

  
}

@media screen and (max-width: 950px) {

  .bannerleft h1{
   font-size: 45px;
  }
  .bannerleft button{
    padding: 2pc 3pc;
  }
  .contentImage{
    margin-bottom: 180px;
   }
   .mobileBanner {
    display: none;
  }
   
 }

 @media screen and (max-width: 768px){
  .banner {
    margin-top: 100px;
  }
  .mobileBanner {
    display: none;
  }
  .contentImage {
    margin-top: 41px;
  }

 }

@media screen and (max-width: 602px) {
  .contentImage{
    margin-top: 100px;
  }
  .desktop-banner {
    display: none; 
  }
  .desktop-banner .bannerFooter{
    display: none;
  }
  .mobileBanner {
    display: block;
  }
  .contentImage{
    margin-bottom: 0px !important;
   }
   .bannerleft h1{
    font-size: 44px !important;
   }
   .mobileBanner .banner{
    margin-left: 20px;
   }

   .mobileBanner .banner .bannerleft p{
    display: none;
   }

   .bannerFooter {
    display: flow;
    padding: 1pc 1pc !important;
}
.contactAboutBanner {
  display: contents;
}
.contactAboutBanner span  {
  margin-right: 35px;
}
.contactSocialBanner{
  text-align: start;
}
}

@media screen and (max-width: 540px) {
  .banner {
    margin-top: 40px;
  }
  .contactAboutBanner span {
    margin-right: 17px;
}
.aboutText p {
  line-height: 25px !important;
  letter-spacing: 1px;
}
.aboutSocialIcons {
  width: 70%;
  margin-top: 0px;
}
.heading h1 {
  font-size: 52px !important;
}
  
}


@media screen and (max-width: 425px){
  .bannerleft h1{
    font-size: 34px !important;
   }
   .bannerleft button {
    padding: 10px 30px !important;
}
.contactAboutBanner span {
  font-size: 14px;
  margin-right: 3px;
}
.bannerFooter {
  padding: 10px 10px !important;
}
.bannerFooter .bannerIcons {
  font-size: 20px;
  margin-right: 4px;
}
.heading h1 {
  font-size: 36px !important;
}
.navbar-toggler{
  border: none !important;
}
}

@media screen and (max-width: 414px){
  .bannerleft h1 {
    font-size: 32px !important;
}
  .contactAboutBanner span {
    margin-right: 1px;
    font-size: 13px;
  }
  .heading h1 {
    font-size: 32px !important;
  }
  .bannerleft button {
    padding: 12px 27px !important;
}

}

@media screen and (max-width: 404px) {
  .bannerleft h1 {
    font-size: 31px !important;
}
.bannerleft button {
  padding: 12px 25px !important;
}
.bannerFooter .bannerIcons {
  font-size: 23px;
}
.bannerFooter {
  margin-top: 25px
}
  
}


@media screen and (max-width: 393px){
  .bannerleft h1{
    font-size: 30px !important;
   }
   .bannerleft button {
    padding: 13px 20px !important;
}
.bannerFooter .bannerIcons {
  font-size: 18px !important;
  margin-right: 3px !important;
}
.bannerFooter span{
  margin-right: 3px;
}
}

@media screen and (max-width: 390px) {

  .bannerleft button {
    padding: 10px 19px !important;
}
.bannerleft h1{
  font-size: 28px !important;
 }
}

@media screen and (max-width: 375px) {
  .heading h1 {
    font-size: 30px !important;
}
}

@media screen and (max-width: 361px) {
  .heading h1 {
    font-size: 27px !important;
}
.bannerleft button {
  padding: 10px 15px !important;
}
.bannerleft h1 {
  font-size: 26px !important;
}
.contactAboutBanner span {
  margin-right: 2px !important;
  font-size: 12px;
}
.contactAboutBanner span {
  margin-right: 2px !important;
  font-size: 11px;
}
}